body {
    background-color: #F8F8F8;
    background-image: url('networkJumbotron.jpg');
    min-height : 100%;
    min-width : 100%;
    background-size: cover;
    font: 14px Tahoma, sans-serif;
    text-align: center;
}

.navbar-default {
    vertical-align: middle;
    background-color: #FFFFFF;
    border: none;
}

.masthead-theme {
    background-color: #FFFFFF;
}

.header-icon {
    font: 24px Tahoma, sans-serif;
    color: #0077B5;
    vertical-align: middle;
    margin-top: 10px;
}

.login-panel {
    margin-top:40%;
}

.registration-panel {
    margin-top:25%;
}

@media only screen and (max-width: 450px) {
    .registration-panel {
        margin-top:35%;
        margin-bottom:25%;
    }
}

.panel-default > .panel-heading {
    font: 20px Tahoma, sans-serif;
    color: #0077B5;
    vertical-align: middle;
    background-color: #FFFFFF;
}


.panel-default > .panel-body {
    font: 20px Tahoma, sans-serif;
    color: #0077B5;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.form-group {
    font: 16px Tahoma, sans-serif;
}

.form-errors {
    font: 12px Tahoma, sans-serif;
    color:red;
}

.link-to-other-pages {
    margin-top: 5%;
}

.user-info {
    padding-right: 10px;
}

.confirmation-email {
    font: 14px Tahoma, sans-serif;
}

a {
     text-decoration: none;
     padding: 3px;
}

a:active, a:focus {
    outline: none;
}

a:hover {
}

.search-autocomplete {
    width: 100%;
}

